<div id="campaignScreen" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-3 col-sm-2 col-xs-1"></div>
			<div class="col-md-6 col-sm-8 col-xs-10 fasadKiJarr" style="padding:0">
				<div id="wowHeader" class="row wowHeader">
					<div class="wowHeaderItems">
						<div class="col-md-2 col-sm-2 col-xs-2 wowHeaderColumn leftColumn verticalController">
							<!--<img src="../static/images/buttons/back.png" class="gc-button verticalAlignMiddle" alt="WoW">-->
						</div>
						<div class="col-md-8 col-sm-8 col-xs-8 wowHeaderColumn centerColumn verticalController">
							<span>CAMPAIGNS</span>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2 wowHeaderColumn rightColumn verticalController">
							<img src="../static/images/buttons/settings.png" class="gc-button verticalAlignMiddle" alt="WoW">
						</div>
					</div>
				</div>
				<div id="campaignList" class="row">
					<div class="col-md-12" style="">
						{% set my_index = 1 %}

						{% for campaign in campaigns %}

							<div class="campaignItem row" data-campaign_id="{{campaign.id}}">
								<div class="col-md-2 col-sm-2 col-xs-2 iconContainer verticalController" style="padding:0">
									<img class="icon" src="../static/images/campaigns/icons/{{campaign.icon}}.png">
								</div>
								<div class="col-md-8 col-sm-8 col-xs-8 campaignDetails">
									<div class="campaignName verticalController">
											<span class="verticalAlignBottom">{% filter upper %}{{campaign.name}}{% endfilter %}</span>
									</div>
									<div class="row campaignDesc">
										<div class="col-md-6 col-sm-6 col-xs-6 levelCount verticalController">
											<span class="verticalAlignMiddle">{% filter upper %}{{ campaign.levels|pluralize('puzzle') }}{% endfilter %}</span>
										</div>
										<div class="col-md-6 col-sm-6 col-xs-6 starCount verticalController">
											<img class="star verticalAlignMiddle" src="../static/images/campaigns/star.png">
											<span class="count verticalAlignMiddle">
												{{player_campaign_stars.get(campaign.id,0)}}/{{campaign.levels*3}}
											</span>
										</div>
									</div>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2 actionButton verticalController" style="padding:0;">
									<img class="nextButton verticalAlignMiddle" src="../static/images/campaigns/next.png">
								</div>
							</div>

						{% endfor %}

					</div>
				</div>
				<div class="multiplayerItem row" style="text-align:center;">
					<div class="col-md-12 verticalController" style="height:100%">
						<div class="largeButton verticalAlignMiddle">
							<img class="buttonIcon" src="../static/images/multiplayer/icons/challenge.png">
							<span style="" class="buttonText verticalAlignMiddle white">CHALLENGE FRIENDS</span>
							<img class="buttonArrow" src="../static/images/multiplayer/icons/arrow.png">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-2 col-xs-1">
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		GV.isSinglePlayer = true;
	});
</script>