<div id="gameScreen" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-3 col-sm-2 col-xs-1"></div>
			<div class="col-md-6 col-sm-8 col-xs-10 fasadKiJarr">
				<div id="wowHeader" class="wowHeader">
					<div class="wowHeaderItems gameScreenOverrides">
						<div class="col-md-1 col-sm-1 col-xs-1 wowHeaderColumn leftColumn verticalController">
							<img class="playerPicture verticalAlignMiddle" alt="Me">
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5 wowHeaderColumn leftColumn verticalController">
							<div class="playerScoreAndTimer verticalAlignMiddle">
								<span class="playerScore">0</span>
								{% if(level_meta.level_type != "SCORE_TRIAL") %}
								<div id="playerTimer" class="playerTimer verticalController">
									<img class="icon verticalAlignMiddle" src="../../static/images/timerbar/timer-icon.png">
									<span class="text verticalAlignMiddle">10:00</span>
								</div>
								{% endif %}
							</div>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5 wowHeaderColumn centerColumn verticalController">
							<div id="starProgressBar" class="progress starProgressBar verticalAlignMiddle">
								<img class="icon verticalAlignMiddle" src="../../static/images/starbar/star-icon.png">
								<div class="barContainer theDarkOne">
									<div class="prorgress-bar barContainer theLightOne"></div>
									<img id="dividerStar1" class="divider" src="../../static/images/starbar/divider.png">
									<img id="dividerStar2" class="divider" src="../../static/images/starbar/divider.png">
									<img id="dividerStar3" class="divider" src="../../static/images/starbar/divider.png">
								</div>
							</div>
						</div>
						<div class="col-md-1 col-sm-1 col-xs-1 wowHeaderColumn rightColumn verticalController">
							<img src="../../static/images/buttons/cross.png" class="gc-button verticalAlignMiddle quitButton gameScreenOverrides" data-scene_name="GAME">
						</div>
					</div>
				</div>
				<div id="levelGameBoard" class="row">
					<div class="col-md-12" style="position:static;">
						<table id="gameTable">
							<tr>
								<td id="gameListsW">
									<div class="divInsideGameTable" id="wordlist"></div>
								</td>
							</tr>
							{% if(level_meta.frenzy_allowed) %}
							<tr id="progressBar">
								<td class="ctrTd">
									<div class="divInsideGameTable" id="frenzyDiv">
										<div id="timer" class="progress timerProgress">
											<div id="timerProgressBar" class="verticalController progressBarWhite" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
												<div id="timerSpan"  class="verticalAlignMiddle">00:00</div>
											</div>
										</div>
										<div id="frenzyProgress" class="progress frenzyProgress">
											<span class="frenzyBarText">FRENZY BAR</span>
											<div id="frenzyProgressBar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
												<span class="sr-only">60% Complete (warning)</span>
											</div>
										</div>
									</div>
								</td>
							</tr>
							{% endif %}
							<tr id="gameBoard">
								<!--<td>&nbsp;</td>-->
								<td id="gameCanvas" class="ctrTd" >
									<canvas id="canvas" class="canvas canvas-front"></canvas>
									<canvas id="canvas2" class="canvas canvas-back"></canvas>

								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-2 col-xs-1"></div>
		</div>
	</div>
	<div id="dialog-message" title="Yo!" class="no-close">
		{% if(level_meta.message) %}
		<p>
			<span id="level-message">{{level_meta.message}}</span>
		</p>
		{% endif %}
		{% if(level_meta.message_img) %}
		<p style="width:100%; text-align:center;">
			<img src="../../static/images/help/{{level_meta.message_img}}" style="max-width: 100%;">
		</p>
		<hr>
		{% endif %}
		<p style="width:100%; text-align:center;">
			<span>TARGET: {{level_meta.score_target}}</span>
		</p>
	</div>
</div>

<script>
	$("#gameScreen").ready(function(){
		$( "#dialog-message" ).dialog({
			modal: true,
			dialogClass: 'no-close',
			closeOnEscape: false,
			draggable: false,
			resizable: false,

			buttons: [
				{
					text: "Start",
					click: function() {
						if (GV.levelTimer) {
							GV.levelTimer.start();
						}
						$( this ).dialog( "close" );
						$(this).dialog('destroy').remove();
					}
				}
			]
    	});
    	$( window ).resize(function() {
			board.theBoard();
		});
	});
</script>