<div id="levelScreen" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-3 col-sm-2 col-xs-1"></div>
			<div class="col-md-6 col-sm-8 col-xs-10 fasadKiJarr">
				<div id="wowHeader" class="wowHeader">
					<div class="wowHeaderItems">
						<div class="col-md-2 col-sm-2 col-xs-2 wowHeaderColumn leftColumn verticalController">
							<img id="backOnCampaign" src="../static/images/buttons/back.png" class="gc-button verticalAlignMiddle backButton">
						</div>
						<div class="col-md-8 col-sm-8 col-xs-8 wowHeaderColumn centerColumn verticalController">
							<span>{% filter upper %}{{campaign_name}}{% endfilter %}</span>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2 wowHeaderColumn rightColumn verticalController">
							<img src="../static/images/buttons/settings.png" class="gc-button verticalAlignMiddle">
						</div>
					</div>
				</div>
				<div id="levelList" class="row">
					<div class="col-md-12" style="">
						{% set my_index = 0 %}
						{% set levels_per_row = 3 %}
						{% set first_zero = True %}
						{% for level in levels %}
							{% if my_index % levels_per_row == 0 %}
								{% set my_index = my_index + 1 %}
								<div class="row rowMargin" style="margin-left:0; margin-right:0;">
							{% else %}
								{% set my_index = my_index + 1 %}
							{% endif %}
									<div class="col-md-{{(12/levels_per_row)|int}} col-sm-{{(12/levels_per_row)|int}} col-xs-{{(12/levels_per_row)|int}} levelButton" style="padding:0 8px 0 8px;">
										<div class="levelDetails">
										{% if level.finish_count > 0 %}
											<img src="../static/images/levels/unlocked.png" class="levelIcon" data-level_id="{{level.campaign_level_id}}">
											<img src="../static/images/levels/stars/{{level.stars}}.png" class="levelStars">
										{% else %}
											{% if first_zero == True %}
												{% set first_zero = False %}
												<img src="../static/images/levels/unlocked_.png" class="levelIcon" data-level_id="{{level.campaign_level_id}}">
											{% else %}
												<img src="../static/images/levels/locked.png" class="levelIcon disabled" >
											{% endif %}
										{% endif %}

											<span class="levelNumber">{{level.level_number}}</span>
										</div>
									</div>
							{% if my_index % levels_per_row == 0 %}
								</div>
							{% endif %}
						{% endfor %}
						{% set levels_length = levels | length %}
						{% set cols_remaining = (levels_per_row - (levels_length % levels_per_row)) * (12/levels_per_row)|int %}
						{% if cols_remaining != 0 %}
								<div class="col-md-{{cols_remaining}} col-sm-{{cols_remaining}} col-xs-{{cols_remaining}}"></div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-2 col-xs-1"></div>
		</div>
	</div>
</div>
