<div class="leaderboardWrapper">
	<div class="leaderboardContent">
		{% set alternate = true %}
		{% set position = 2 if multiplayer else 1 %}
		{% for friend in friends %}
		{% set me_ = true if friend['player_id'] == me['player_id'] else false %}
		<div class="leaderboardPlayer {% if me_ %}{% endif %}">
			{% if not multiplayer %}
			<div class="position verticalController">
				<span class="verticalAlignMiddle">{{position}}</span>
			</div>
			{% endif %}
			<div class="dp verticalController">
				<img class="verticalAlignMiddle" src="{{friend['profile_pic']}}" width="45px" height="45px">
			</div>
			{% if multiplayer %}
			<div class="position verticalController">
				<span class="verticalAlignMiddle">{{position | ordinal}}</span>
			</div>
			{% endif %}
			<div class="info">
				<div class="top">
					<span>{% if me_ %}Me{% else %}{{friend['first_name']}}{% endif %}</span>
				</div>
				<div class="bottom">
					<span>{{friend['score']}}</span>
				</div>
			</div>
		</div>
		{% set position = position + 1 %}
		{% set alternate = not alternate %}
		{% endfor %}
	</div>
</div>


