<div id="landingScreen" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-3 col-sm-2 col-xs-1"></div>
			<div class="col-md-6 col-sm-8 col-xs-10 fasadKiJarr">
				<div id="wowHeader" class="wowHeader">
					<div class="wowHeaderItems">
						<div class="col-md-2 col-sm-2 col-xs-2 wowHeaderColumn leftColumn verticalController">
						</div>
						<div class="col-md-8 col-sm-8 col-xs-8 wowHeaderColumn centerColumn verticalController">
							<span class="levelEndStatus">War of Words</span>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2 wowHeaderColumn rightColumn verticalController">
						</div>
					</div>
				</div>
				<div id="landingDetails">
					<div class="row heightController"></div>
					<div class="row heightController"></div>
					<div class="row heightController bg_3b579d" style="text-align:center;">
						<div class="col-md-12 verticalController" style="height:100%">
							<div class="largeButton verticalAlignMiddle fbLogin">
								<img class="buttonIcon white" src="../static/images/multiplayer/icons/facebook.png">
								<span style="" class="buttonText verticalAlignMiddle white">CONNECT FACEBOOK</span>
								<img class="buttonArrow" src="../static/images/multiplayer/icons/arrow.png">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-2 col-xs-1"></div>
			</div>
		</div>
	</div>
</div>