<div id="endScreen" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-3 col-sm-2 col-xs-1"></div>
			<div class="col-md-6 col-sm-8 col-xs-10 fasadKiJarr">
				<div id="wowHeader" class="wowHeader">
					<div class="wowHeaderItems">
						<div class="col-md-2 col-sm-2 col-xs-2 wowHeaderColumn leftColumn verticalController">
							<img src="../../static/images/buttons/quit.png" class="gc-button verticalAlignMiddle quitButton endScreenOverrides" data-scene_name="END">
						</div>
						<div class="col-md-8 col-sm-8 col-xs-8 wowHeaderColumn centerColumn verticalController">
							<span class="levelEndStatus">{% filter upper %}Level {{end_payload['status']}}{% endfilter %}!</span>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2 wowHeaderColumn rightColumn verticalController">
							<img src="../static/images/buttons/settings.png" class="gc-button verticalAlignMiddle">
						</div>
					</div>
				</div>
				<div id="levelEndDetails">
					<div class="row emptyRow"></div>
					<div class="row heightController levelEndMessageContainer">
						<div class="column col-md-12 verticalController">
							<span class="levelEndMessage verticalAlignMiddle">{{end_payload['message']}}</span>
						</div>
					</div>
					<div class="row heightController levelEndCampaignNameContainer">
						<div class="column col-md-12 verticalController">
							<span class="levelEndCampaignName verticalAlignMiddle">{% filter upper %}{{end_payload['campaign_name']}}{% endfilter %}!</span>
						</div>
					</div>
					<div class="row heightController levelScoreContainer bg_f2fcfc">
						<div class="column col-md-12">
							<div class="starsContainer">
								<img src="../static/images/levels/stars/{{end_payload.get('stars',0)}}.png">
							</div>
							<div class="scoreRow verticalController" style="height:50%">
								<span class="verticalAlignMiddle score">{{end_payload.get('score',-1)}}</span>
							</div>
							<!--<div class="highScore" style="height:50%">-->
								<!--<img src="../static/images/levels/highscore.png">-->
							<!--</div>-->
							<div class="scoreRow verticalController" style="height:25%">
								<span class="verticalAlignMiddle scoreLabel">POINTS</span>
							</div>
							<div class="scoreRow verticalController" style="height:25%">
								<span class="verticalAlignMiddle target">TARGET: {{level_meta.get('score_target',-1)}}</span>
							</div>
						</div>
					</div>
					<div class="row heightController emptyRow">
						<div class="column col-md-12 verticalController" style="text-align:center;padding-bottom:3px;">
							<span class="levelEndCampaignName verticalAlignBottom" style="font: 16px/1 'Comfortaa Bold';">{% filter upper %}Leaderboard{% endfilter %}</span>
						</div>
					</div>
					<div class="row heightController friendsRow">
						<div class="column col-md-12 friendsScoreContainer" style="text-align:center;">

						</div>
					</div>
					<div class="row heightController emptyRow">
					</div>
					<div class="row heightController buttonRow">
						<div class="column col-md-3"></div>
						<div class="column col-md-6" style="text-align:center;">
							<div class="actionButton playAgainButton">
								<img width="80px" height="80px" src="../static/images/buttons/retry.png" data-level_id="{{level_meta['campaign_level_id']}}">
							</div>
							<div class="actionButton nextLevelButton" data-campaign_id="{{level_meta['campaign_id']}}">
								<img width="80px" height="80px" src="../static/images/buttons/next.png">
							</div>
						</div>
						<div class="column col-md-3"></div>
					</div>
				</div>
				<div class="col-md-3 col-sm-2 col-xs-1"></div>
			</div>
		</div>
	</div>
</div>
<script>
	$('#endScreen').ready(function() {
		ZeCommunicator.getFriendsScores('{{level_meta['campaign_level_id']}}');
	});
</script>