<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>War of Words</title>
		<!-- <base href="http://192.168.88.63:5000/" target="_self"> -->

		<!-- Bootstrap core CSS -->
		<link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>

		{% assets "css_all" %}
			<link rel="stylesheet" href="{{ ASSET_URL }}">
		{% endassets %}
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		{% assets "js_jquery" %}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}

		<script src="/static/js/sockjs-0.3.4.min.js"></script>
		<script type=text/javascript>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.0/TweenMax.min.js"></script>
	</head>
	<body class="">
		<!--<img src="../static/images/levels/locked.png" style="position:fixed; left:50px; top:122px;">-->
		<span class="fontLoader">Game Chefs @ 2015</span>
		<div id="fb-root"></div>
		{% block content %}{% endblock %}
		<!-- HIDDEN DIV TO LOAD NCS FONT -->

		<!-- <audio id="slapSound" src="../static/audio/next.ogg" type="audio/ogg"/> -->
		<script src="https://connect.facebook.net/en_US/all.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/rateit/src/jquery.rateit.js" type="text/javascript"></script>
		{% assets "js_ours" %}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}
		<script>
			loadAudios();
		</script>
		<!--<script src="/static/js/wowc.js"></script>-->
		<!--<script src="/static/colorpicker/jquery.colorPicker.js" type="text/javascript"></script>-->
		<!--<script src="/static/colorpicker/jquery.colorPicker.min.js" type="text/javascript"></script>-->
	</body>
</html>