{% extends "base.html" %}

{% block content %}

<div id="spinner">
    <img src="../static/images/loading.png" alt="Loading..."/>
</div>

{% if show_splash == True %}
<div id="splash" class="splash">
	<div id="bg_div_blue2" class="bg_div_img">
		&nbsp;
	</div>
</div>
{% endif %}
<!--<audio src="https://cinemont.com/tutorials/howls/in_the_rain.mp3" autoplay loop></audio>-->
<!--<audio src="http://opengameart.org/sites/default/files/Caketown%201.mp3" autoplay loop></audio>-->
<div class="container" id="wowContainer">
</div>
{% include 'partials/config.html' %}
<script type="text/javascript">
$(document).ready(function() {
	GV.facebookSignedRequest = {
		signed_request: "{{fb_request_stuff['signed_request']}}",
		request_id: "{{fb_request_stuff['request_id']}}"
	};
	GV.isSinglePlayer = true;
	{% if loaded_in_FB %}
		GV.loadedInFB = true;
	{% else %}
		GV.loadedInFB = false;
	{% endif %}

	initializeFacebook();
});
</script>

{% endblock content %}
