
/*********** START: GAME TABLE THE PARENT CONTAINER */
#gameScreen #gameScreenMainCol {
	padding: 0;
}
table#gameTable {
	table-layout: fixed;
	position:relative;
}
table#gameTable tr td{
	width: 100%;
}
table#gameTable #gameBoard {
	padding: 0;
}
table#gameTable #gameBoard #gameCanvas {
	padding-top: 10px;
	padding-bottom: 15px;
}
/*********** END: GAME TABLE THE PARENT CONTAINER */

/*********** START: TOP BAR */
div#topBar.topBar {
	width: 100%;
	height: 40px;
	background-color: #2db0f7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 0px 0px 2px white;
	-moz-box-shadow: 0px 0px 2px white;
	-webkit-box-shadow: 0px 0px 2px white;
	padding: 6px;
	text-align: center;
	margin:0;
}
div#wowHeader.wowHeader img.playerPicture {
	max-width: 100%;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	padding: 0;
	border: thin solid white;
}
div#wowHeader.wowHeader .playerScoreAndTimer {
	height:70%;
	max-height:70%;
	width:100%;
	padding-left: 5px;

}
div#wowHeader.wowHeader .playerScore {
	font-family: "Normt";
	font-size: 18pt;
	background-color: #70dbff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fffefe;
	text-align: center;
	width: auto;
	height: 100%;
	max-height:100%;
	margin-right: 6px;
	line-height: 35px;
	padding: 0 6px 0 6px;
	float:left;
}
div#wowHeader.wowHeader .playerTimer {
	height: 100%;
	width: auto;
	background-color: #70dbff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0 8px;
	float:left;
	text-align:right;
}
div#wowHeader.wowHeader .playerTimer .icon {
	max-height: 60%;
}
div#wowHeader.wowHeader .playerTimer .text {
	font-family: "Digital7";
	font-size: 18pt;
	line-height: 35px;
	color: white;
	padding-left:5px;
}
div#wowHeader.wowHeader .starProgressBar {
	height:70%;
	max-height:70%;
	width: 90%;
	background-color: white;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 2px;
	margin:0;
}
div#wowHeader.wowHeader .starProgressBar .icon {
	max-width: 100%;
	max-height: 100%;
	float: left;
	margin-right: 4px;
}
div#wowHeader.wowHeader .starProgressBar .barContainer {
	width: auto;
	margin: 0;
	height: 30px;
	max-height: 100%;
	background-color: black;
	overflow: hidden;
	position: relative;
}
div#wowHeader.wowHeader .starProgressBar .theDarkOne {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 2px;
	background-color: #5f5f5f;
	background-image: url('../images/starbar/starbar_dark_bg.png');
}
div#wowHeader.wowHeader .starProgressBar .theLightOne {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-image: url('../images/starbar/starbar_highlight_bg.png');
	backround-size: cover;
	background-color: #ffffff;
	width: 2%;
}
div#wowHeader.wowHeader .starProgressBar .divider {
	position: absolute;
	left: 0;
	top: -2px;
}

/*********** TOP BAR STUFF OVERRIDES FOR ALL CAMPAIGNS SCREEN */
div .wowHeaderItems {
	height: 100%;
	width: auto;
	background-color: #6ed9ff;
	vertical-align:middle;
	padding:10px 5px 10px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 3px white;
	-moz-box-shadow: 0px 0px 3px white;
	-webkit-box-shadow: 0px 0px 3px white;
}
div .wowHeaderItems.gameScreenOverrides {
	background-color:#2db0f7;
}

div .wowHeaderItems .wowHeaderColumn {
	height:100%;
	padding:0;
}
/*@media (min-width: 992px) {
	div .wowHeaderItems img.gc-button {
		width: 45px;
	}
}*/

div .wowHeaderItems img.gc-button {
	width: 35px;
	padding: 0;
	cursor:pointer;
}
div .wowHeaderItems.gameScreenOverrides img.quitButton {
	max-width:100%;
}
div .wowHeaderItems img.quitButton.endScreenOverrides {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: FlipH;
}

div .wowHeaderItems .leftColumn {
	text-align:left;
}
div .wowHeaderItems .centerColumn {
	text-align:center;
	font-family: "Comfortaa Bold";
	font-size:22px;
	color:white;
	letter-spacing:3px;
}
div .wowHeaderItems .rightColumn {
	text-align:right;
}

/*********** END: TOP BAR */

/*********** START: CAMPAIGN SCREEN MISCELLANEOUS */
div#campaignScreen .navigationBar {
	background-color: #70dbff;
	height:50px;
	margin:0;
}
/*********** END: CAMPAIGN SCREEN MISCELLANEOUS */

/*********** START: CAMPAIGN LIST */
div#campaignList {
	background-color: #f2fafa;
	height:80%;
	overflow-y:auto;
	margin:0;
}
div#campaignList .campaignItem {
	border-bottom: 1px solid white;
	padding:10px 15px 10px 15px;
	height:75px;
	cursor:pointer;
}
div#campaignList .campaignItem .iconContainer {
	height:100%;
	text-align:left;
}
div#campaignList .campaignItem .icon {
	height:100%;
}
div#campaignList .campaignItem .campaignDetails {
	height:100%;
	padding:0;
	margin:0;
}
div#campaignList .campaignItem .campaignName {
	height:50%;
}
div#campaignList .campaignItem .campaignName span {
	font: 18px/1 "Comfortaa Bold";
	letter-spacing:3px;
}
div#campaignList .campaignItem .campaignDesc {
	height:50%;
	padding:0;
	margin:0;
}
div#campaignList .campaignItem .levelCount,
div#campaignList .campaignItem .starCount {
	height:100%;
	font: 0/0 a;
	padding:0;
	margin:0;
}
div#campaignList .campaignItem .starCount {
	text-align:right;
}
div#campaignList .campaignItem .levelCount span,
div#campaignList .campaignItem .starCount span {
	font: 13px/1 "Comfortaa Regular";
	letter-spacing:2px;
}
div#campaignList .campaignItem .starCount .count {
	/*float:right;*/
	padding-left:5px;
}
div#campaignList .campaignItem .starCount .star {
	float:none;
}
div#campaignList .campaignItem .actionButton {
	height:100%;
	text-align:right;
}

div#campaignList .campaignItem .nextButton {
	width:30px;
}
/*********** END: CAMPAIGN LIST */

/*********** START: LEVEL GRID */
div#levelList {
	/*background-color: #f2fafa;
	background-image: url('../images/levels/bg2.png?v=0');*/
	height:80%;
	overflow-y:auto;
	margin:0;
}
div#levelList .rowMargin { margin:10px 0px; padding-top:10px; }

div#levelList .levelDetails {
	width:100%;
	height:100%;
	position:relative;
	cursor:pointer;
	text-align:center;
}
div#levelList .levelDetails .levelIcon {
	max-width: 100%;
}
div#levelList .levelDetails .levelStars {
	position:absolute;
	left:0;
	top:-5%;
	z-index:100;
}
div#levelList .levelDetails .levelNumber {
	position:absolute;
	left:0;
	top:37%;
	z-index:100;
	width:100%;
	text-align:center;
	color: white;
	font-family: "Comfortaa Bold";
	font-size: 16px;
	letter-spacing:2px;
}

/*********** END: LEVEL GRID */



/*********** START: CANVAS STYLES */
#gameBoard #gameCanvas #canvas2, #gameTable #frenzyDiv {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#gameTable #frenzyDiv {
	border: 1px solid #fffefe;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 5px 10px 0 10px;
    background: #fffefe;
}

/*********** END: CANVAS STYLES*/


/*********** START: END SCREEN */
div#levelEndDetails {
	max-height:100%;
	height:calc(100% - 80px);
	background-color: #f2fafa;
	background-image: url('../images/levels/bg2.png?v=0');
}
#levelEndDetails .levelEndStatus {
	color: white;
	font-family: "NCS"
	font-size; 26px;
}
#levelEndDetails .levelEndMessageContainer {
	background-color:#ff7300;
	text-align:center;
}
#levelEndDetails .levelEndMessage {
	font-family: "Comfortaa Bold";
	font-size: 20px;
	color: white;
}
#levelEndDetails .levelEndCampaignNameContainer {
	text-align:center;
}
#levelEndDetails .levelEndCampaignName {
	font-family: "Comfortaa Bold";
	font-size:22px;
	font-weight:700;
	text-transform: uppercase;
	letter-spacing:2px;
}
#levelEndDetails .row.levelScoreContainer {
	text-align:center;
	position:relative;
	padding-top:15px;
	padding-bottom:10px;
	height:100px;
}
#levelEndDetails .scoreRow span {
	font: 15px/1 "Comfortaa Bold";
	color: #ff7300;
	letter-spacing:3px;
}
#levelEndDetails .scoreRow .score {
	font-size:35px;
}
#levelEndDetails .scoreRow .target {
	font-size:12px;
	color:#333333;
}
#levelEndDetails .levelScoreContainer .starsContainer {
	position:absolute;
	top:-35px;
	width:100%;
	text-align:center;
}
#levelEndDetails .levelScoreContainer .highScore {
	position:absolute;
	top:-25px;
	right:50px;
}


/************ END: END SCREEN */

.heightController {
	margin:0;
	min-height:80px;
	height:100px;
	padding:0;
}
.heightController.bg_f2fcfc {
	background-color:#f2fcfc;
}
.heightController.bg_079fe2{
	background-color:#079fe2;
}
.heightController.bg_3b579d{
	background-color:#3b579d;
}

.heightController.emptyRow, .heightController.buttonRow {
	margin:0;
	height:50px;
	min-height:50px !important;
}
.heightController.friendsRow {
	margin:0;
	height:auto;
}
.heightController .column {
	margin:0;
	height:100%;
	padding:0;
}
.buttonContainer {
	text-align:center;
	height:100%;
}
.buttonContainer .buttonWrapper {
	cursor:pointer;
	position:relative;
	margin: 0 auto;
}
.buttonContainer .buttonWrapper .buttonLabel {
	position:absolute;
	left:10px;
	top:50%;
	color:white;
	font-size:18px;
	font-family:'Comfortaa Bold';
}

.buttonContainer .fbRequestButton {
	padding: 0 5px;
	width:auto;
	min-height:30px;
}
.buttonContainer .buttonWrapper.fbRequestButton img {
	float:left;
	height:30px;
}
.buttonContainer .buttonWrapper.fbRequestButton span {
	padding: 0 10px;
	margin: 0;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	position:relative;
	float:left;
	line-height: 30px;
	width:auto;
	border: 2px solid white;
	background-image: url('../images/buttons/button_bg1.png');
}
/*********** START: UTILITY */
.blink_me {
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: blinker;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	animation-name: blinker;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

div#spinner
{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	text-align:center;
	margin-left: -50px;
	margin-top: -100px;
	z-index:2;
	-webkit-animation:spin 0.8s linear infinite;
	-moz-animation:spin 0.8s linear infinite;
	animation:spin 0.8s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/*********** END: UTILITY */
