@font-face {
	font-family:"Comfortaa Bold";
	src:url(../fonts/Comfortaa-Bold.ttf);
	font-weight:700;
}

@font-face {
	font-family:"Comfortaa Regular";
	src:url(../fonts/Comfortaa-Regular.ttf);
}

@font-face {
	font-family:GameChefs;
	src:url(../fonts/Gamechefs-WOW.ttf);
}

html {
  position:relative;
  min-height:100%;
  height:100%;
}

body {
	overflow:hidden;
	background-image:url('../images/bg_tile.jpg');
	/*background-color:#041620;*/
	font-family:GameChefs,"Comfortaa Regular";
  	height:100%;
}

.fasadKiJarr {
	background-color:#d7f6f9;
	/*background-color:#103D56;*/
	background-image:url('../images/board_tile.jpg');
	background-size:cover;
	height:99vh;
	padding:0;
	margin:0.5vh 0 0 0;
	box-shadow: 0px 0px 10px #444;
    -moz-box-shadow: 0px 0px 10px #444;
    -webkit-box-shadow: 0px 0px 10px #444;
	overflow:hidden;
}

div#wowHeader.wowHeader {
	height:80px;
	text-align:center;
	margin:0;
	padding:5px;
}

div#levelGameBoard {
	/*margin:0;*/
}

/* create a full-height inline block pseudo=element */
.verticalController {
	font:0/0 a;
}
.verticalController::before {
	content:' '; display:inline-block; vertical-align:middle; height:100%;
}
.verticalAlignMiddle {
	display:inline-block;
	vertical-align:middle;
}
.verticalAlignBottom {
	display:inline-block;
	vertical-align:bottom;
}
.verticalAlignTop {
	display:inline-block;
	vertical-align:top;
}

img.blur {
	-webkit-filter:blur(2px);
	filter:blur(2px);
}

.white {
	color:white;
}
div.largeButton {
	cursor:pointer;
}
div.largeButton .buttonText {
	font:17px/1 "Comfortaa Bold";
	letter-spacing:3px;
	padding:0;
}

div.largeButton .buttonIcon {
	/*padding:0 10px 0 0;*/
	margin-right:10px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border:2px solid black;
}
div.largeButton .buttonIcon.white {
	border:2px solid white;
}
div.largeButton .buttonArrow {
	padding:0 0 0 10px;
}

.divInsideGameTable {
	margin:0 10px 0 10px;
}
/*********** START:WORD LIST */
#wordlist {
	border: 1px solid transparent;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 10px 0 30px 0;
	background-color: #828282;
	border-color: #3c3c3c;
	color: #fffefe;
	overflow: auto;
	position: relative;
}
#wordlist ul.wordList {
	width:100%;
	padding-left:0;
	margin:0 auto;
}
#wordlist ul.wordList li {
	text-align:center;
	list-style:none;
	float:left;
	width:33%;
}
#wordlist ul.wordList li .word {
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin:0 3px;
	font-size:13pt;
	font-weight:700;
	font-family:Normt;
}

#wordlist ul.wordList li .word.egyptian {
	font-weight:400;
	letter-spacing: 4pt;
	font-family:GameChefs;
}

#wordlist .wordCount {
	float:right;
	position:absolute;
	bottom:0;
	right:0;
	font-size:11px;
	letter-spacing:2px;
}


/*********** END:WORD LIST */

/*********** START:FRENZY BAR */
.timerProgress {
	min-width: 70px;
	width: 20%;
	margin: 0px;
	height: 25px;
	float: left;
	background: #fffefe;
	border-radius: 0px;
}
#timerProgressBar {
	text-align:center;
	height:100%;
	width: 100%;
}
#timerSpan, .timerSpan span {
	font: 24px/1 Digital7;
	color: #f0ad4e;
	height: 100%;
	-webkit-padding-before: 2px;
}
.frenzyProgress {
	width: auto;
	margin: 0px;
	height: 25px;
	background-color:#a8a8a8;
	position: relative;
	overflow: hidden;
	box-shadow: inset 2px 2px 0px #767676;
	-moz-box-shadow: inset 2px 2px 0px #767676;
	-webkit-box-shadow: inset 2px 2px 0px #767676;
}
#frenzyProgressBar {
	background-image: url("../images/frenzyBar.png");
}
.frenzyBarText {
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	font-family: Normt;
	font-size: 15pt;
	font-weight: bold;
	color: #ffffff;
	text-shadow: -1px 1px 0 #000000;
}
.progressBarWhite {
	background-color: #fffefe;
}


/*********** END:FRENZY BAR */

/*********** START:LEADERBOARD */
.leaderboardWrapper {
	display:inline-block;
	min-width:200px;
	max-width:90%;
	height:75px;
	overflow-x:auto;
	overflow-y:hidden;
	color:white;
	font-family:'Comfortaa Bold';
	margin:0 auto;
}
.leaderboardContent {
	width:auto;
	white-space:nowrap;
}
.leaderboardPlayer {
	display: inline-block;
	width:150px;
	height:75px;
	border:2px solid white;
	background-color:#079fe2;
}
.leaderboardPlayer.me {
	background-color:white;
}
.leaderboardPlayer .position {
	width:20px;
	height:100%;
	float:left;
	text-align:center;
}
.leaderboardPlayer .position span {
	font: 14px/1 'Comfortaa Regular';
	color:white;
}
.leaderboardPlayer .dp {
	width:50px;
	height:100%;
	float:left;
}
.leaderboardPlayer .dp img {
	border-radius:50%;
	border:2px solid black;
}
.leaderboardPlayer .info {
	height:100%;
	position:relative;
	margin-left: 70px;
}
.leaderboardPlayer .info .top {
	width:100%;
	height:50%;
	position:absolute;
	left:0;
	top:0;
}
.leaderboardPlayer .info .top span {
	position:absolute;
	bottom:2px;
	left:5px;
	font: 14px/1 'Comfortaa Regular';
}
.leaderboardPlayer .info .bottom {
	width:100%;
	height:50%;
	position:absolute;
	left:0;
	bottom:0;
}
.leaderboardPlayer .info .bottom span {
	position:absolute;
	top:2px;
	left:5px;
	font: 14px/1 'Comfortaa Regular';
}
.leaderboardPlayer.me .left span, .leaderboardPlayer.me .right .top span, .leaderboardPlayer.me .right .bottom span {
	color:#079fe2;
}
/*********** END:LEADERBOARD */

/*********** START:MISCELLANEOUS */
.fontLoader {
	font-family: "NCS";
	font-size:0;
	position:absolute;
	bottom:0;
	right:0;
}
div#campaignScreen .multiplayerItem {
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background-color:#079fe2;
	margin:0;
	width:100%;
}
.actionButton {
	display:inline-block;
	cursor:pointer;
}
/*********** END:MISCELLANEOUS */


