#multiplayerDetails .plainTextContainer {
	text-align:center;
}
#multiplayerDetails .plainText {
	font-family: "Comfortaa Bold";
	font-size:22px;
	font-weight:700;
	text-transform: uppercase;
	letter-spacing:2px;
}
.waitingPlayersContainer {
	height: 100%;
	width: 100%;
	text-align: center;
}
.waitingPlayersWrapper {
	width: auto;
	position: relative;
	margin: 0 auto;
}
.waitingPlayersWrapper .player {
	margin: 2px;
	position: relative;
	width: auto;
	height: auto;
	float:left;
}
.waitingPlayersWrapper .player .dp {
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border: 2px solid black;
	float: left;
}
.waitingPlayersWrapper .player .tick {
	position: absolute;
	bottom: -7px;
	right: 0;
}

table ul#gamePlayers {
 	list-style:none;
 	padding: 0;
 	margin:0 auto;
	text-align:center;
	padding: 10px 0;
	background-color:#2FE0E7;
	/*background-color: #b5e8f9;*/
	border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
#gamePlayers:last-child {
	margin-bottom:0;
}
.gamePlayer {
	width:40px;
	height:auto;
	margin: 0 auto;
	overflow:hidden;
	margin-bottom:2px;
}
.gamePlayer img {
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border:2px solid black;
}
.gamePlayer img.playerMe {
	border:2px solid #fcee21;
}
.gamePlayerScore {
	font: 12px/1 "Comfortaa Bold";
	width: 100%;
	margin-top:1px;
}

/*********** START:LEADERBOARD OVERWRITES */
.levelScoreContainer.winner {
	height:auto !important;
	min-height:160px;
	padding:10px 0 !important;
}
.levelScoreContainer.winner .starsContainer {
	top:-25px !important;
}
.levelScoreContainer.winner .dp {
	margin-right:10px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border:2px solid #ff7300;
}
.levelScoreContainer.winner .scoreRow {
	margin-bottom:5px !important;
}
.levelScoreContainer.winner .scoreLabel {
	font-size:25px !important;
}

.multiplayerFriends .leaderboardWrapper {
	width:90%;
	height:225px;
	overflow-x:hidden;
	overflow-y:auto;
}
.multiplayerFriends .leaderboardContent {
	width:100%;
	white-space:inherit;
}
.multiplayerFriends .leaderboardPlayer {
	display: inline-block;
	width:100%;
}
.multiplayerFriends .leaderboardPlayer .dp {
	padding-left:5px;
}
.multiplayerFriends .leaderboardPlayer .position {
	float:right;
	width:auto;
	padding:0 5px;
	letter-spacing:3px;
}
.multiplayerFriends .leaderboardPlayer .position span {
	font: 22px/1 'Comfortaa Regular';
}

.multiplayerFriends .leaderboardPlayer .info .top span {
	font-size: 22px;
}
.multiplayerFriends .leaderboardPlayer .info .bottom span {
	font-size: 22px;
}
/*********** END:LEADERBOARD OVERWRITES */

/************** START:MISCELLANEOUS */
.colorme{ color: rgb(0, 181, 255); }
.colorOther {color:rgb(128, 128, 128);}
/************** END:MISCELLANEOUS */

