@font-face {
    font-family: Digital7;
    src: url(../fonts/digital-7-mono.ttf);
    font-weight: 400;
}
@font-face {
    font-family: BPMono;
    src: url(../fonts/BPMono.ttf);
    font-weight: 400;
}

@font-face {
    font-family: NCSB;
    src: url(../fonts/NCSB.otf);
    font-weight: 400;
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu.ttf);
    font-weight: 400;
}

@font-face {
    font-family: NCS;
    src: url(../fonts/NCS.otf);
    font-weight: 400;
}

@font-face {
    font-family: Normt;
    src: url(../fonts/Normt.ttf);
    font-weight: 400;
}

.splash {
    background: #cff4f6;
    width: 100%;
    height: 20%;
    position: absolute;
    top: 45%;
    z-index: -2;
}

.bg_div_img {
    width: 100%;
    height: 235%;
    position: absolute;
    top: -60%;
    z-index: -1;
    background-image: url(../images/wow_title_logo.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
}


.bg_footer_gc {
float: right;
width: 100%;
height: 100px;
position: absolute;
bottom: 10px;
z-index: -1;
background-image: url(../images/gc_icon.png);
background-repeat: no-repeat;
background-position: 95%;
background-size: contain;
}

.body_bg{
    background-color: #cff4f6;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}


.container {
  margin: auto;
  max-width: 960px;
  padding: 0 3px;
}
.container .text-muted {
  margin: 3px 0;
}

.canvas-back {
    background-color: #effbfb;
}

.canvas-front {
    /*background-color: rgba(233, 233, 233, 0.24);*/
    position:absolute;
}

#gameBoard{
    padding: 3px;
    width: 100%;
    align-self: center;
}

#gameListsW, #gameListsP, #gameCanvas{
    /*
    float: left;
    padding: 2px;
    margin: 0px 5px 0px 5px;
    */
    vertical-align: top;
}

#gameListsW, #gameListsP{
    width: 25%;
}

#gameCanvas{
    /*width: auto;*/
}

#gameCanvas > .canvas{
    /*padding:5px;*/
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 6px 6px #b7d9de;
    -moz-box-shadow: 6px 6px #b7d9de;
    -webkit-box-shadow: 6px 6px #b7d9de;
}

#nick {  
}

.word{padding:2px 4px 2px 4px;margin:2px;border:1px solid transparent;border-radius:4px;/*text-align: center;align-self: center;*/}
.hotword{background-color:#ef3651;border-color:#fffefe;color:#fffefe;}
.playerName{
    margin-left: 2px;
}

.pts2{
    font-size: 10pt;
    margin-left: 8px;
}

#playerlist {
    list-style-position:inside;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  width:100%;
}

#playerlist > ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#playerlist > ul > li {
  font-size: 12pt;
  font-family: Trebuchet MS;
}

#playerlist > ol {
    float: left;
    display: block;
  margin: 0px;
    padding: 0px;
    width: 100%;
}

#playerlist > ol > li {
	font-size: 12pt;
	font-family: Trebuchet MS;
	width: 100%;
    background-color: #9ddff6;
    border-radius: 4px;
    float: left;
    box-shadow: 0px 0px 2px white;
    -moz-box-shadow: 0px 0px 2px white;
    -webkit-box-shadow: 0px 0px 2px white;
    padding: 6px 6px;
    margin: 0px 0px 4px 0px;
    /*
    border-left: 5px solid blue;
    */
}

/*.score {
	background-color: #46bcfd;
    box-shadow: 0px 0px 2px white;
    -moz-box-shadow: 0px 0px 2px white;
    -webkit-box-shadow: 0px 0px 2px white;
    border-radius: 4px;
    color: #fffefe;
    text-align: center;
    width: 22px;
    height: 22px;
    float: right;
}*/

/*.star {
    margin: 0px 4px;
    float: right;
    color: #9dddf6;
    text-shadow: 0px 0px 1px #00009f;
}*/

.playerBar {
    width: 6px;
    background: grey;
    display: inline-block;
    float: left;
    border-radius: 3px;
    margin-right: 4px;
}

#playerlist >ul> li >span {
  padding:5px;
}

#playerlist >ol> li >span {
  padding:0px 2px 2px 2px;
}

.foundWord
{
  text-decoration: line-through;
  opacity: 0.5;
}

/*
.hotWord
{
    color: red;
    font-weight: bold;
    text-shadow: 0px 0px 1px #000000;
}
*/

.color0 {color:red} 
.color1 {color:blue}
.color2 {color:green} 
.color3 {color:brown} 
.color4 {color:orange} 
.color5 {color:cyan} 
.color6 {color:fuchsia} 
.color7 {color:greenyellow} 
.color8 {color:indigo} 
.color9 {color:gold} 
.color10 {color:hotpink} 


.me {
    /*font-style: italic;*/
    font-weight: bold;
}

.frenzy {
    box-shadow: 
        0px 0px 5px #ffe200,   
        -1px -1px 3px #ffe200,  
        1px -1px 3px #ffe200,
        -1px 1px 3px #ffe200,
        1px 1px 3px #ffe200 !important;
    -moz-box-shadow:
        0px 0px 5px #ffe200,
        -1px -1px 3px #ffe200,
        1px -1px 3px #ffe200,
        -1px 1px 3px #ffe200,
        1px 1px 3px #ffe200 !important;
    -webkit-box-shadow:
        0px 0px 5px #ffe200,
        -1px -1px 3px #ffe200,
        1px -1px 3px #ffe200,
        -1px 1px 3px #ffe200,
        1px 1px 3px #ffe200 !important;
}

.error_span {
    color: red;
}

.param_span {
    width: 90px;
    display: inline-block;
    margin-top: 5px;
}

.param_spanH {
    text-decoration: underline;
    display: inline-block;
    margin-top: 5px;
}

.param_text {
    width: 30px;
    margin-top: 5px;
}

.heading{padding:2px;margin-bottom:2px;border:1px solid transparent;border-radius:4px;text-align: center;align-self: center;font-size: 15pt;font-weight: bold; font-family: NCS;margin: 0px;}
.heading-blue{background-color:#53c9fe;border-color:#fffefe;color:#fffefe;}

.alert_wow{
	padding:3px;
	margin-bottom:5px;
	width: auto;
	height: auto;
	overflow: auto;
}

.input-group-img{padding:1px 3px 1px 3px;background-color:white;border:1px solid #ccc;border-radius:4px; height: 100%;}
.input-group-img > img{border-radius: 10px; height: 25px; width: 25px;}
.profilePic {border-radius: 10px; height: 22px; width: 22px; padding: 0px; vertical-align: top; border: thin solid black;}

.invite-friends-link a {
background: url(https://2.bp.blogspot.com/-E5PpxJP0Dr4/T_YWB_HvV-I/AAAAAAAADSk/7fIRr2gw-B0/s1600/facebook.png) left no-repeat;
padding-left: 30px;
line-height: 30px;
font-size: 16px;
font-weight: bold;
color: #3b5998;
display: block;
}

#links > a {
    vertical-align: middle;
    height: 100%;
}

#rematch{
    color: #cccccc;
    padding: 4px;
}

#links > a:hover {
    text-shadow: 0px 0px 2px #cccccc;
    text-decoration: none;
}

#home_footer{
    float: left;
    padding-top: 6px;
}

#disclaimer{
    font-family: Trebuchet MS;
    float: right;
}


#home_footer:hover{
    text-decoration: none;
}

#rematch:hover {
    color: #0047e6;
}

.fb_share  
{  
    background: url(https://2.bp.blogspot.com/-E5PpxJP0Dr4/T_YWB_HvV-I/AAAAAAAADSk/7fIRr2gw-B0/s1600/facebook.png) left no-repeat;
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;  
    color: #3b5998; 
    font-weight: bold;
    margin: 4px;
    padding: 4px 4px 4px 25px;
}  

.fb_share:hover  
{  
    color: #ffffff;
}  

#links {
    float: right;
    height: 100%;
}

table#gameTable {
    width: 100%;
}

#message{
    display: block;
    width: 100%;
    text-align: center;
    font-family: Trebuchet MS;
}

.progress.active .progress-bar, .progress-bar.active {
-webkit-animation: progress-bar-stripes 2s linear infinite;
-o-animation: progress-bar-stripes 2s linear infinite;
animation: progress-bar-stripes 2s linear infinite;
}
.progress-striped .progress-bar, .progress-bar-striped {
background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
-webkit-background-size: 40px 40px;
background-size: 40px 40px;
}


