<div id="endScreen" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-3 col-sm-2 col-xs-1"></div>
			<div class="col-md-6 col-sm-8 col-xs-10 fasadKiJarr">
				<div id="wowHeader" class="wowHeader">
					<div class="wowHeaderItems">
						<div class="col-md-2 col-sm-2 col-xs-1 wowHeaderColumn leftColumn verticalController">
							<img src="../../static/images/buttons/quit.png" class="gc-button verticalAlignMiddle quitButton endScreenOverrides" data-scene_name="END">
						</div>
						<div class="col-md-8 col-sm-8 col-xs-10 wowHeaderColumn centerColumn verticalController">
							<span class="levelEndStatus">Game Over!</span>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-1 wowHeaderColumn rightColumn verticalController">
							<img src="../static/images/buttons/settings.png" class="gc-button verticalAlignMiddle">
						</div>
					</div>
				</div>
				<div id="levelEndDetails">
					<div class="row heightController levelScoreContainer winner bg_f2fcfc">
						<div class="column col-md-12">
							<div class="scoreRow verticalController">
								<span class="verticalAlignMiddle score">Winner!!!</span>
							</div>
							<div class="scoreRow verticalController">
								<!--<img class="verticalAlignMiddle" style="margin-right:10px;" height="50" src="../../../static/images/multiplayer/winner_flakes_left.png">-->
								<img class="dp verticalAlignMiddle" width="60" height="60" src="{{winner['profile_pic']}}">
								<!--<img class="verticalAlignMiddle" height="50" src="../../../static/images/multiplayer/winner_flakes_right.png">-->
							</div>
							<div class="scoreRow verticalController">
								<span class="verticalAlignMiddle score">{{winner['first_name']}}</span>
							</div>
							<div class="scoreRow verticalController">
								<span class="verticalAlignMiddle scoreLabel">Points: {{winner['score']}}</span>
							</div>
						</div>
					</div>
					<div class="row heightController friendsRow multiplayerFriends">
						<div class="column col-md-12 friendsScoreContainer" style="text-align:center;">
							{{friends|safe}}
						</div>
					</div>
					<div class="row heightController buttonRow">
						<!--<div class="column col-md-12">-->
							<!--<div class="buttonContainer verticalController">-->
								<!--<div class="buttonWrapper verticalAlignMiddle fbShareButton">-->
									<!--<img src="../static/images/buttons/button_200.png">-->
									<!--<span class="buttonLabel">SHARE</span>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					</div>
				</div>
				<div class="col-md-3 col-sm-2 col-xs-1"></div>
			</div>
		</div>
	</div>
</div>
<script>
	$('#endScreen').ready(function() {

	});
</script>