<div id="gameScreen" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-3 col-sm-2 col-xs-1"></div>
			<div class="col-md-6 col-sm-8 col-xs-10 fasadKiJarr">
				<div id="wowHeader" class="wowHeader">
					<div class="wowHeaderItems gameScreenOverrides">
						<div class="col-md-1 col-sm-1 col-xs-1 wowHeaderColumn leftColumn verticalController">
							<img class="playerPicture verticalAlignMiddle" alt="Me">
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5 wowHeaderColumn leftColumn verticalController">
							<div class="playerScoreAndTimer verticalAlignMiddle">
								<span class="playerScore">0</span>
							</div>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5 wowHeaderColumn centerColumn verticalController">
						</div>
						<div class="col-md-1 col-sm-1 col-xs-1 wowHeaderColumn rightColumn verticalController">
							<img src="../../static/images/buttons/cross.png" class="gc-button verticalAlignMiddle quitButton gameScreenOverrides" data-scene_name="GAME">
						</div>
					</div>
				</div>
				<div id="levelGameBoard" class="row">
					<div class="col-md-12" style="position:static;">
						<table id="gameTable">
							<tr id="progressBar">
								<td class="ctrTd">
									<div class="divInsideGameTable" id="frenzyDiv">
										<div id="timer" class="progress timerProgress">
											<div id="timerProgressBar" class="verticalController progressBarWhite" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
												<div id="timerSpan"  class="verticalAlignMiddle">00:00</div>
											</div>
										</div>
										<div id="frenzyProgress" class="progress frenzyProgress">
											<span class="frenzyBarText">FRENZY BAR</span>
											<div id="frenzyProgressBar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
												<span class="sr-only">60% Complete (warning)</span>
											</div>
										</div>
									</div>
								</td>
							</tr>
							<!--<tr id="gameBoard">-->
								<!--<td>&nbsp;</td>-->
								<!--<td id="gameCanvas" class="ctrTd" >-->
									<!--<canvas id="canvas" class="canvas canvas-front"></canvas>-->
									<!--<canvas id="canvas2" class="canvas canvas-back"></canvas>-->

								<!--</td>-->
							<!--</tr>-->
							<tr style="width:100%; height:100px;">
								<td>
									<table style="min-height:100%;width:100%;height:100%;">
										<tr id="gameBoard">
											<td id="gameCanvas" style="width:88%;">
												<!--  background-color:#2DA4ED; -->
												<canvas id="canvas" class="canvas canvas-front"></canvas>
												<canvas id="canvas2" class="canvas canvas-back"></canvas>
											</td>
											<td style="width:12%;">
												<!-- background-color:#2FE0E7; -->
												<ul id="gamePlayers">

												</ul>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td id="gameListsW">
									<div class="divInsideGameTable" id="wordlist"></div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-2 col-xs-1"></div>
		</div>
	</div>
</div>
<script>
	$("#gameScreen").ready(function(){
    	$( window ).resize(function() {
			board.theBoard();
		});
	});
</script>