<div id="multiplayerScreen" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-3 col-sm-2 col-xs-1"></div>
			<div class="col-md-6 col-sm-8 col-xs-10 fasadKiJarr">
				<div id="wowHeader" class="wowHeader">
					<div class="wowHeaderItems">
						<div class="col-md-2 col-sm-2 col-xs-2 wowHeaderColumn leftColumn verticalController">
							<img src="../../static/images/buttons/quit.png" class="gc-button verticalAlignMiddle quitButton endScreenOverrides" data-scene_name="END">
						</div>
						<div class="col-md-8 col-sm-8 col-xs-8 wowHeaderColumn centerColumn verticalController">
							<span class="levelEndStatus">MULTIPLAYER</span>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2 wowHeaderColumn rightColumn verticalController">
							<img src="../static/images/buttons/settings.png" class="gc-button verticalAlignMiddle">
						</div>
					</div>
				</div>
				<div id="multiplayerDetails">
					<div class="row heightController">
						<div class="column col-md-12 verticalController">
						</div>
					</div>
					<div class="row heightController bg_f2fcfc" style="text-align:center;">
						<div class="col-md-12 verticalController" style="height:100%">
							<div class="largeButton verticalAlignMiddle fbInviteButton">
								<img class="buttonIcon" src="../static/images/multiplayer/icons/invite.png">
								<span style="" class="buttonText verticalAlignMiddle">INVITE FRIENDS</span>
								<img class="buttonArrow" src="../static/images/multiplayer/icons/arrow.png">
							</div>
						</div>
					</div>
					<div class="row heightController bg_079fe2" style="text-align:center;">
						<div class="col-md-12 verticalController" style="height:100%">
							<div class="largeButton verticalAlignMiddle fbRequestButton">
								<img class="buttonIcon" src="../static/images/multiplayer/icons/challenge.png">
								<span style="" class="buttonText verticalAlignMiddle white">PLAY WITH FRIENDS</span>
								<img class="buttonArrow" src="../static/images/multiplayer/icons/arrow.png">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-2 col-xs-1"></div>
		</div>
	</div>
</div>