<div id="multiplayerScreen" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-3 col-sm-2 col-xs-1"></div>
			<div class="col-md-6 col-sm-8 col-xs-10 fasadKiJarr">
				<div id="wowHeader" class="wowHeader">
					<div class="wowHeaderItems">
						<div class="col-md-2 col-sm-2 col-xs-2 wowHeaderColumn leftColumn verticalController">
							<img src="../../static/images/buttons/quit.png" class="gc-button verticalAlignMiddle quitButton endScreenOverrides" data-scene_name="END">
						</div>
						<div class="col-md-8 col-sm-8 col-xs-8 wowHeaderColumn centerColumn verticalController">
							<span class="levelEndStatus">WAITING FOR PLAYERS</span>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2 wowHeaderColumn rightColumn verticalController">
							<img src="../static/images/buttons/settings.png" class="gc-button verticalAlignMiddle">
						</div>
					</div>
				</div>
				<div id="multiplayerDetails">
					<div class="row heightController"></div>
					<div class="row heightController plainTextContainer">
						<div class="column col-md-12 verticalController">
							<span class="plainText verticalAlignMiddle">WAITING FOR PLAYERS TO JOIN!</span>
						</div>
					</div>
					<div class="row heightController bg_f2fcfc">
						<div class="column col-md-12">
							<div class="waitingPlayersContainer verticalController">
							</div>
						</div>
					</div>
					<div class="row heightController emptyRow"></div>
					<div class="row heightController buttonRow">
						<div class="column col-md-3"></div>
						<div class="column col-md-6" style="text-align:center;">
							<div class="actionButton quitButton" data-scene_name="END">
								<img width="80px" height="80px" src="../static/images/buttons/cancel.png">
							</div>
						{% if is_owner %}
							<div class="actionButton startGame" data-gamekey="{{game_key}}">
								<img width="80px" height="80px" src="../static/images/buttons/play.png">
							</div>
						{% endif %}
						</div>
						<div class="column col-md-3"></div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-2 col-xs-1"></div>
		</div>
	</div>
</div>
<script>
	$('.waitingPlayersContainer').ready(function(){
		//ZeCommunicator.getPlayerList('{{game_key}}');
		//setInterval(function(){
    		//ZeCommunicator.getPlayerList('{{game_key}}');
		//}, 10000);
		GV.isSinglePlayer = false;
		GV.gameKey = '{{game_key}}';
		{% if is_owner %}
			GV.isOwner = true
		{% else %}
			GV.isOwner = false
		{% endif %};
		GV.webSocket = new SockJS(GC.SOCKET_SERVER_URI);
		GV.webSocket.onopen = GV.webSocketOnopen;
		GV.webSocket.onmessage = GV.webSocketOnmessage;
		GV.webSocket.onclose = GV.webSocketOnclose
		GV.webSocket.onerror = GV.webSocketOnerror

	});
</script>