<div class="waitingPlayersWrapper verticalAlignMiddle">
	{% for player in people %}
		<div class="player">
		{% if player['profile_pic'] %}
			<img src="{{player['profile_pic']}}" width="50" class="dp {% if not player['joined'] %}blur{% endif %}">
		{% else %}
			<img src="../../../static/images/multiplayer/icons/avatar.png" width="50" class="dp {% if not player['joined'] %}blur{% endif %}">
		{% endif %}

		{% if player['joined'] %}
			<img src="../../../static/images/multiplayer/icons/tick.png" width="15" class="tick">
		{% endif %}
		</div>
	{% endfor %}
</div>
